body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

.whole-page {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px #41326414;
}

.search-style {
  background-color: #f9f7fe;
  width: 80%;
  padding: 10px;
  border: none;
  font-size: 18px;
  border-radius: 4px;
}

.submit-style {
  background-color: #885df1;
  font-size: 18px;
  width: 15%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: white;
}

header {
  border-bottom: 1px solid rgb(197, 190, 190);
  padding: 0 0 30px 0;
}

.flex-box {
  display: flex;
}

.number {
  font-size: 50px;
  font-weight: bold;
  margin-top: 25px;
  margin-left: 10px;
}

.emoje {
  display: flex;
  font-size: 50px;
  margin-top: 20px;
  margin-left: 230px;
}

.degree {
  margin-top: 25px;
  font-size: 20px;
}

.wheather-forcast {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.weather-forcast-day {
  text-align: center;
  color: #777474;
  font-size: 16px;
  line-height: 10px;
  margin-bottom: 10px;
}

.wheather-forcast-icon {
  text-align: center;
  font-size: 25px;
}

.whather-forcast-temperatures {
  text-align: center;
  color: rgb(165, 31, 75);
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.whather-forcast-temperature {
  padding: 6px;
}

footer {
  border-top: 1px solid rgb(197, 190, 190);
  padding: 25px 0 0 0;
  text-align: center;
  color: rgb(119, 116, 116);
}

.whole-flex-div {
  display: flex;
}

p {
  color: rgb(119, 116, 116);
}
